
body{
    text-align:center;
     
  background: linear-gradient(to bottom right, #1a1a1a, #4b0082);
  color: white;
  font-family: 'Orbitron', sans-serif;


}

.btn{
    height:200px;
    width:200px;
    border-radius:20%;
    border:10px solid black;
    margin: 2.5 rem;
}




.btn-container{
    display:flex;
    justify-content:center;
}

.yellow{
    background-color:#f99b45;
}

.red{
    background-color:#d95980;
}

.purple{
    background-color:#819ff9;
}

.green{
    background-color:#63aac0;
}

.flash{
    background-color:white;
}

.userflash{
    background-color:green;
}